.product-img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

h2{
    text-align: center;
    padding: 5px;
}

p{
    text-align: center;
    padding: 5px;
}

.product{
    width: 25%;
    margin: 40px;
    display: inline-block;

}

.product:hover{
    box-shadow: 2px 2px 10px black;
}