body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.data{
    width: 20%;
}

img{
    width: 100%;
    text-align: center;
    padding: 10px;
}

h2{
    margin: 10px;
    text-align: center;
    padding: 5px;
}

.prodcut{
    width: 25%;
    margin: 40px;
    display: inline-block;
}

.product-description{
    margin: 10px;
    text-align: center;
}

